[logger]
	level = "info"
	concise = true

[openai]
	open_ai_key = ""
	max_tokens = 1000
	system_prompt = "You are an expert narrator that tells stories for children. Use short, easy to understand words."

[server]
	port = 5000
